.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
  }
  
  .add-student-form {
    padding: 10px 15px;
  }
  
  .form-label {
    font-weight: 600;
    color: #495057;
  }
  
  .form-input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
  }
  
  .subject-marks-row {
    margin-top: 20px;
  }
  
  .close-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .close-button:hover {
    background-color: #5a6268;
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  